 .map{
     overflow:hidden;
     border: 10% solid rgb(34, 121, 156);
     
 }
 
 
 .map-image{
     width: 50%;
     float: left;
 }

 .map-image .is-active path{
     fill: rgb(74, 91, 165);
 }

 .map-image path{
    fill: rgb(34, 156, 156);
    stroke: #fff;
    stroke-width: 1px; 
    transition: fill 0.3s;
}

 .map-list{
     float: right;
     width: 20%;
     height: 80%;
     border-bottom: 5%;
 }

  .map-list  a{
      color: inherit;
      text-decoration: none;
      transition: color 0.3s;
  }

  .map-list  a.is-active{
      color: rgb(74, 91, 165);
      font-weight: bold;
      text-decoration: underline;
  }