<app-home></app-home>
<div class=" d-flex flex-column min-vh-100 justify-content-center align-items-center col" id="Chart">
    <div class="row">

        <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [labels]="chartOptions.labels"
              [responsive]="chartOptions.responsive"
            ></apx-chart>
          </div>
    
    </div>
    <a href="carte" class="btn btn-primary btn-block">
        <button  type="button" class="btn btn-primary btn-block">Retour</button>
    </a>
    
</div>