<app-navadministrateur></app-navadministrateur>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="card border-info" style="border-radius: 1rem;">
                <div class="card-body">
                    <h5 class="card-title">Informations relatives au representant </h5>
                    <div class="center">
                        <img class="card-img-top img-fluid center

                  " src="" style="width:150px;height:150px;"><br>
                    </div>

                    <label for=""><b> PRENOM :</b></label><br>
                    <label for=""><b> NOM :</b></label><br>
                    <label for=""><b> DATE NAISSANCE :</b></label><br>
                    <label for=""><b> COMMUNE :</b></label><br>
                    <label for=""><b> CNI :</b></label><br>
                    <label for=""><b> ADRESSE :</b></label><br>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="card border-info" style="border-radius: 1rem;">
                <div class="card-body">
                    <h5 class="card-title">Informations relatives à la liste</h5>
                    <p class="card-text">
                        <label for=""><b> NOM LISTE :</b></label><br>
                        <label for=""><b> CODE :</b></label><br>
                        <label for=""><b> COMMUNE :</b></label><br>
                    </p>
                </div>
            </div>
        </div>

    </div>

</div><br><br><br><br><br><br><br>
<footer class="py-5  " style="background-color: #698cb4fb;">
    <div class="container">
        <p class="m-0 text-center text-white">Sénégal &copy; Elections Legislatives</p>
    </div>
    <!-- /.container -->
</footer>