<app-home></app-home>

 <br>
  <div class="containers">
    <div class="" style="width: 2000px">
      <div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
          <div class="form-container ">
            <h3 class="title">Voter</h3>
            <form class="form-horizontal" style="text-align: center">
              <div class="form-icon">
                <i class="fa fa-user-circle"></i>
              </div>
              <label  class=""><h4 style="color: black">Numéro d'identification national</h4></label>
              <div class="form-group">
                <span class="input-icon"><i class="fa fa-user"></i></span>
                <input [(ngModel)]="cni" type="text" class="form-control" placeholder=" N° CNI" id="cni" name="cni">
              </div>
             <br>
              <button (click)="verifier()" class="btn signin">Vérifier</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<br>
  <footer class="py-5  "  style="background-color: #698cb4fb;" >
    <div class="container">
      <p class="m-0 text-center text-white">Sénégal &copy; Elections Legislatives</p>
    </div>
    <!-- /.container -->
  </footer>
