hr {
    border: none;
    color: rgb(255, 255, 255);
    overflow: visible;
    text-align: center;
    height: 2px;
    width: 900px;
}

.linear-gradient {
    background: linear-gradient(to right, #698cb4fb ,#698cb4fb, rgba(255, 255, 255, 0.562));
  }

.textcolor {
    color: aliceblue;
    font-size: x-large;
    font-style: normal;
    font-family: 'copperplate gothic';
    font-weight: bolder;
    text-align: center;
}

.div{
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;

}

.div1{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;

}

.horizontal{
    display: flex;
}

.globalcolor
{
    background: linear-gradient(#698cb4fb , #698cb4fb);
    height: fit-content;
}
.bar2
{
  background-color: #698cb4fb;
}
.btnmg
{
    margin-left: 10px;
    margin-right: 10px;
    background: #698cb4fb;
    height: 30px;
    width: 220px;

}
.trigger-btn{
    display: inline-block;
    margin: 10px auto;
}

.horizontal{
  flex: auto;
}
