<div class="globalcolor">


    <!-- La Barre de naviguation -->
    <nav class="navbar navbar-light ">
        <div class="container-fluid linear-gradient div1">

                <div class="div text-white">Recherche à faire sur le site:
                    <input type="text">
                    <button class="btn-gray">OK</button>
                </div>
                <hr>
                <div class="horizontal">


                  <div class="pull-left">
                    <a class="navbar-brand" href="#">
                      <img
                        src="../../assets/1993r.jpg"
                        style="width:100px;height:80px;"
                      />

                    </a>

                  </div>
                  <div class="pull-right">
                    <a class="navbar-brand" href="#">
                      <img
                        src="../../assets/embleme.jpeg"
                        style="width:100px;height:80px;"
                      />
                  </a>
                  </div>

                  <!-- <div class="textcolor" >
                    <marquee behavior="left" direction=""><h2>PLATEFORME    D'ELECTION LEGISLATIVE DU SENEGAL</h2></marquee>
                  </div> -->


                </div>


            </div>





      </nav>



      <nav class="navbar navbar-expand-lg navbar-light nav-pills nav-fill" style="background-color: #698cb4fb;">
        <img src="https://www.univ-thies.sn/images/logo_site_ut.png" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" style="color: rgb(243, 249, 250);" href="/carte">Accueil </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" style="color: rgb(243, 249, 250);" href="/voter">Voter</a>
            </li>
            <li class="nav-item active">
              <a href="/inscription" style="color: rgb(243, 249, 250);" class=" nav-link" >S'inscrire</a>
            </li>
          </ul>

            <ul class="nav navbar-nav  ">

              <li class="nav-item">
                <a href="/connexion" class="trigger-btn nav-link" style="color: rgb(243, 249, 250);" data-toggle="modal">Se connecter</a>
              </li>
            </ul>

        </div>
      </nav>


    </div>

