hr {
    border: none;
    color: rgb(255, 255, 255);
    overflow: visible;
    text-align: center;
    height: 2px;
    width: 900px;
}

.linear-gradient {
    background: linear-gradient(to right, rgba(9, 79, 165, 0.98),#698cb4fb, rgba(255, 255, 255, 0.562));
  }

.textcolor {
    color: aliceblue;
    font-size: x-large;
    font-style: normal;
    font-family: 'copperplate gothic';
    font-weight: bolder;
    text-align: center;
}

.div{
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;

}

.div1{
  margin: 15px;

}

.globalcolor
{
    background: linear-gradient(rgba(171, 194, 253, 0.98), rgba(171, 194, 253, 0.98));
    height: fit-content;
}
.bar2
{
  background-color: rgba(171, 194, 253, 0.98);
}
.btnmg
{
    margin-left: 10px;
    margin-right: 10px;
    background: rgba(171, 194, 253, 0.98);
    height: 30px;
    width: 220px;

}
.trigger-btn{
    display: inline-block;
    margin: 10px auto;
}

.horizontal{
  flex: auto;
}
