<app-navadministrateur></app-navadministrateur>
  <br>

<div class="login">

  <h2 class="login-header">Ajout administrateur</h2>

  <form  class="login-container"  action="/examples/actions/confirmation.php" method="post" >
    <div >
        <div >Email </div>
      </div>
    <p >
      <input class="is-invalide" [(ngModel)]="administrateur.email" type="email" name="login" placeholder="Email"  required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\-[a-z]{2,4}$" >
    </p>

    <div >
        <div>Mot de passe</div>
      </div>
    <p>
      <input type="password" [(ngModel)]="administrateur.mdp" name="mdp" placeholder="Password"   required>
    </p>

    <p>

      <button class="btn btn-primary" type="submit" (click)="ajouter()" >Créer</button>
    </p>
  </form>
</div>

<footer class="py-5  "  style="background-color: #698cb4fb;">
  <div class="container">
    <p class="m-0 text-center text-white">Sénégal &copy; Elections Legislatives</p>
  </div>
  <!-- /.container -->
</footer>

