<div class="globalcolor"> 


<!-- La Barre de naviguation -->
<nav class="navbar navbar-light ">
    <div class="container-fluid linear-gradient div1">
        <div>
            <div class="div text-white">Recherche à faire sur le site: 
                <input type="text">
                <button class="btn-gray">OK</button>
            </div>
            <hr>
            <div class="textcolor" >PLATEFORME D'ELECTION LEGISLATIVE DU SENEGAL</div>
            <div class="div">
                <a class="navbar-brand" href="#">
                    <img
                      src="../../assets/embleme.jpeg"
                      height="80"
                      width="130"
                      alt=""
                      loading="lazy"
                    />
                </a>
            </div>

            <div class="btn-group bar2">
                <button class=" btn-block btnmg">S'inscription</button>
                <button class="btn-block btnmg" >Se connecter</button>
                <button class="btn-block btnmg">Voter</button>
                <button class="btn-block btnmg">Résultats</button>
            </div>
        </div>
        
      <a class="navbar-brand" href="#">
        <img
          src="../../assets/senegal.jpg"
          height="160"
          width="240"
          alt=""
          loading="lazy"
        />
       
      </a>
    
    </div>
    
  </nav>
  <app-carte></app-carte>
</div>